<li class="list-group-item">
    {{burger_name}} {{#unless devoured}}
    <span class="burger-button badge" data-id="{{id}}">Eat Me!</span>
    {{/unless}}
    <span class="delete-button badge" data-id="{{id}}">Delete!</span>
</li>