<li class="list-group-item">
			{{burger_name}} {{#unless devoured}}
			{{!-- <button class="burger-button btn btn-default btn-primary" data-id="{{id}}">
				Eat Burger
			</button> --}}
			<span class="burger-button badge" data-id="{{id}}">Eat Me!</span>
			{{/unless}}
</li>