<h1>Burgers Not Yet Eaten</h1>
<ul>
    {{#each burgers}} {{#unless devoured}} {{> burgerblock devoured=false}} {{/unless}} {{/each}}
</ul>

<h1>Burgers Already Eaten</h1>

<ul>
    {{#each burgers}} {{#if devoured}} {{> burgerblock devoured=true}} {{/if}} {{/each}}
</ul>

<form id="burger-form">
    <input type="text" name="name">
    <input class="btn btn-default btn-danger" type="submit" name="submit" value="Submit your burger">
</form>