<h1>Burgers Not Yet Eaten</h1>
<ul>
    {{#each burgers}} {{#unless devoured}}
    <li>{{burger_name}}</li>
    {{/unless}} {{/each}}
</ul>

<h1>Burgers Already Eaten</h1>

<ul>
    {{#each burgers}} {{#if devoured}}
    <li>{{burger_name}}</li>
    {{/if}} {{/each}}
</ul>